@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
h1 {
  font-family: Helvetica, Arial, sans-serif;
}

.maxWidth {
  @apply max-w-[1100px];
}

*::-webkit-scrollbar {
  height: 4px; /* height of horizontal scrollbar */
  width: 8px; /* width of the vertical scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: gray; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
